# 데이터 파일은 로드 하지 않도록

# yelp dataset은 무시
Chapter3_Basic_NeuralNet/data/
Chapter4_FFNN_for_NLP/data/
Chapter5_Words_And_TypeEmbedding/glove100d/
Chapter5_Words_And_TypeEmbedding/data/
Chapter5_Words_And_TypeEmbedding/model_storage/
Chapter6_Seq_Modeling_Novice/data/
Chapter6_Seq_Modeling_Novice/model_storage/
Chapter7_Seq_Modeling_Intermediate/data/
Chapter7_Seq_Modeling_Intermediate/model_storage/
